body {
	margin: 0;
	padding: 0;
}

.fixed-col {
	position: fixed;
	z-index: 1;
}

.info-container {
	min-height: 100px;
	background: #007ffb;
	color: #fff;
}

.timer-container {
	min-height: 100px;
	background: #007ffb;
	margin-left: 50%;
	color: #fff;
}

.info {
	margin-top: 10px;
	font-size: 18px;
}

#time {
    margin: 35px 30px;
    font-size: 25px;
    text-align: right;
}

.content {
	min-height: 100px;
	background: #fff;
	padding: 20px;
	margin-top: 100px;
}

.content p {
	font-size: 21px;
}

.radio {
	transform:scale(1.5);
	cursor: pointer;
	margin-right: 15px;
	margin-bottom: 10px;
}

.font {
	font-size: 21px;
}

.finish_btn {
	width: 200px;
	height: 55px;
	float: right;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.result-form {
	border-radius: 20px; 
	border: 2px solid #007ffb;
	text-align: center;
	padding: 20px;
}

.result-title {
	color: #007ffb;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

.result-text {
	font-size: 35px;
	margin-top: 20px;
}

.exit-text {
    font-size: 25px;
    color: #28a745;
    font-weight: bold;
}

.passing-again-error {
	font-size: 35px;
	font-weight: bold;
	color: #ff0000;
}

.exit-btn {
	margin-top: 10px;
	width: 50%;
	height: 55px;
}
