body {
	margin: 0;
	padding: 0;
}

.fixed-col {
	position: fixed;
	z-index: 1;
}

.info-container {
	min-height: 100px;
	background: #007ffb;
	color: #fff;
}

.timer-container {
	min-height: 100px;
	background: #007ffb;
	margin-left: 50%;
	color: #fff;
}

.info {
	margin-top: 10px;
	font-size: 18px;
}

#time {
    margin: 35px 30px;
    font-size: 25px;
    text-align: right;
}

.content {
	min-height: 100px;
	background: #fff;
	padding: 20px;
	margin-top: 100px;
}

.content p {
	font-size: 21px;
}

.radio {
	transform:scale(1.5);
	cursor: pointer;
	margin-right: 15px;
	margin-bottom: 10px;
}

.font {
	font-size: 21px;
}

.finish_btn {
	width: 200px;
	height: 55px;
	float: right;
}
