body {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
}

.login-box {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 80%;
}

.title-container {
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 10px 0; 
}

h1 {
    font-size: 72px;
    font-weight: bold;
    font-family: sans-serif;
    color: #007bff;
}

.forms-container {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 70%;
    height: 80%;
}

.username-container {
    position: absolute;
    width: 100%;
    height: 55px;
}

.password-container {
    position: absolute;
    top: 95px;
    width: 100%;
    height: 55px;
}

.enter-container {
    position: absolute;
    top: 230px;
    width: 100%;
    height: 55px;
}

.reg-container {
    position: absolute;
    top: 305px;
    width: 100%;
    height: 55px;
}

.username, .password {
    width: calc(100% - 30px);
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 15px;
    border: 2px solid silver;
}
.username:focus, .password:focus {
    border: 2px solid #007bff;
}
button {
    width: 100%;
    height: 55px;
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
}

button:active {
    background: #ffffff;
    border: 2px solid #007bff;
    color: #007bff;
}